.navbar {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.navbar-brand {
    font-weight: bold;
}

.nav-link {
    color: #212529;
    font-weight: bold;
}

.nav-link:hover {
    color: #dc3545;
}

.navbar-profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}